# Data Cleaning

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import pyecharts as pye

### Step 1 - Define all the datas

In [30]:
df2 = pd.read_excel(r'C:/Users/Asus/Desktop/13_电商行业_京东消费者数据分析/京东消费者分析数据.xlsx')
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975
183825,1377001,199816,2018-03-14 21:17:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Huawei,5332,Phone,2017-08-11,3666,0,0,NaT,Electronics,0.000000
183826,1057196,286812,2018-04-07 11:54:00,5702636,PageView,6.0,W,2017-10-12,6,4.0,Other,8451,Phone,2013-03-19,3666,0,0,NaT,Electronics,0.000000
183827,67145,372173,2018-03-25 06:21:00,164637,PageView,2.0,W,2012-11-06,7,3.0,Apple,3527,Phone,2017-09-20,3666,0,0,NaT,Electronics,0.000000

### Step 2 - NaN Deletion

removing all datas that have null values, selected from the table'age_range' and 'city_level'

In [31]:
con1 = df2[df2['age_range'].isnull()].index
con1

Int64Index([  1782,   2794,   3470,   4060,   4576,  12264,  14041,  14666,
             14990,  21094,  22564,  23564,  28156,  28475,  30107,  30317,
             37066,  37661,  41560,  44203,  46709,  47143,  49208,  50979,
             51119,  55361,  57687,  60458,  61791,  61958,  62887,  63098,
             63354,  64209,  69576,  70068,  74212,  74557,  75962,  81216,
             83829,  87537,  87736,  91268,  99384, 101625, 102942, 103845,
            106040, 106300, 108250, 109122, 111270, 111573, 113457, 113482,
            113904, 113907, 115038, 116205, 118154, 120084, 122668, 126803,
            127572, 132521, 134022, 136996, 139390, 140303, 141300, 154429,
            154730, 155913, 159251, 165467, 165762, 167316, 168018, 173936,
            179426, 180803, 182031],
           dtype='int64')

In [32]:
df2.drop(con1, inplace= True)
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975
183825,1377001,199816,2018-03-14 21:17:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Huawei,5332,Phone,2017-08-11,3666,0,0,NaT,Electronics,0.000000
183826,1057196,286812,2018-04-07 11:54:00,5702636,PageView,6.0,W,2017-10-12,6,4.0,Other,8451,Phone,2013-03-19,3666,0,0,NaT,Electronics,0.000000
183827,67145,372173,2018-03-25 06:21:00,164637,PageView,2.0,W,2012-11-06,7,3.0,Apple,3527,Phone,2017-09-20,3666,0,0,NaT,Electronics,0.000000

In [33]:
con2 = df2[df2['city_level'].isnull()].index
con2

Int64Index([   901,   5434,   7030,  11600,  17425,  18668,  21294,  26706,
             30816,  32397,  33732,  34446,  39985,  40049,  44802,  54015,
             55977,  58406,  63991,  71402,  71934,  74157,  77688,  78616,
             83934,  88702,  93533,  96765,  99625, 101136, 105356, 111760,
            114045, 119745, 123292, 133935, 134028, 134753, 135016, 137905,
            139690, 139774, 140553, 147224, 148780, 151218, 151881, 161746,
            162174, 164856, 165127, 178769, 179367, 183071],
           dtype='int64')

In [34]:
df2.drop(con2, inplace= True)
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975
183825,1377001,199816,2018-03-14 21:17:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Huawei,5332,Phone,2017-08-11,3666,0,0,NaT,Electronics,0.000000
183826,1057196,286812,2018-04-07 11:54:00,5702636,PageView,6.0,W,2017-10-12,6,4.0,Other,8451,Phone,2013-03-19,3666,0,0,NaT,Electronics,0.000000
183827,67145,372173,2018-03-25 06:21:00,164637,PageView,2.0,W,2012-11-06,7,3.0,Apple,3527,Phone,2017-09-20,3666,0,0,NaT,Electronics,0.000000

In [35]:
print(df2['age_range'].isnull().value_counts())
print(df2['city_level'].isnull().value_counts())

False    183691
Name: age_range, dtype: int64
False    183691
Name: city_level, dtype: int64

### Step 3 - Deleting all invalid gender

In [36]:
con3 = df2[df2['gender'] == 'U'].index
con3

Int64Index([  1557,   1669,   1828,   1906,   1955,   3914,   4013,   4320,
              4353,   4783,
            ...
            172558, 173234, 173437, 173955, 177181, 178119, 178535, 179951,
            180070, 182933],
           dtype='int64', length=392)

In [37]:
df2.drop(con3, inplace= True)
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975
183825,1377001,199816,2018-03-14 21:17:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Huawei,5332,Phone,2017-08-11,3666,0,0,NaT,Electronics,0.000000
183826,1057196,286812,2018-04-07 11:54:00,5702636,PageView,6.0,W,2017-10-12,6,4.0,Other,8451,Phone,2013-03-19,3666,0,0,NaT,Electronics,0.000000
183827,67145,372173,2018-03-25 06:21:00,164637,PageView,2.0,W,2012-11-06,7,3.0,Apple,3527,Phone,2017-09-20,3666,0,0,NaT,Electronics,0.000000

In [38]:
(df2['gender']== 'U').value_counts()

False    183299
Name: gender, dtype: int64

### Step 4 - Deleting the overly small values from the member category

We assume the table 'vip_number' is the refered table, and 0 as the overly small values

In [39]:
con4 = df2[df2['vip_number'] == 0].index
con4

Int64Index([     5,     10,     12,     15,     17,     20,     23,     32,
                41,     42,
            ...
            183793, 183794, 183798, 183800, 183810, 183820, 183822, 183825,
            183826, 183827],
           dtype='int64', length=71219)

In [40]:
df2.drop(con4, inplace= True)
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183818,439257,267494,2018-03-10 14:10:00,2549561,PageView,5.0,W,2015-06-27,7,4.0,Li-Ning,4385,Football,2013-10-16,2066,6608,105500,2013-09-27,Outdoor Sports,9.490122
183819,142887,373956,2018-02-06 09:18:00,9888217,PageView,6.0,M,2016-11-20,1,4.0,HLA,4472,Coat,2014-06-04,1134,20691,110337,2013-12-27,Clothes,9.411609
183821,314592,6697,2018-02-01 23:55:00,1608100,PageView,6.0,W,2011-05-23,7,4.0,illuma,6084,Milk Power,2017-03-03,5391,31025,73322,2015-07-30,Mother and Infant,9.374044
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975

In [42]:
(df2['vip_number'] == 0).value_counts()

False    112080
Name: vip_number, dtype: int64

### Step 5 - Replace all negative values from the 'shop_score'

replace with value 0

In [54]:
df2.loc[df2['shop_score'] <= 0,'shop_score'] = 0
df2

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,976695,328360,2018-03-05 08:52:00,10633744,PageView,5.0,W,2017-06-17,6,3.0,LukFook,2959,Bracelet,2017-10-05,4322,1159,36596,2017-07-04,Jewellery Accessories,9.043610
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183818,439257,267494,2018-03-10 14:10:00,2549561,PageView,5.0,W,2015-06-27,7,4.0,Li-Ning,4385,Football,2013-10-16,2066,6608,105500,2013-09-27,Outdoor Sports,9.490122
183819,142887,373956,2018-02-06 09:18:00,9888217,PageView,6.0,M,2016-11-20,1,4.0,HLA,4472,Coat,2014-06-04,1134,20691,110337,2013-12-27,Clothes,9.411609
183821,314592,6697,2018-02-01 23:55:00,1608100,PageView,6.0,W,2011-05-23,7,4.0,illuma,6084,Milk Power,2017-03-03,5391,31025,73322,2015-07-30,Mother and Infant,9.374044
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975

In [55]:
(df2['shop_score'] <= -1).value_counts()

False    112080
Name: shop_score, dtype: int64

----------------------------------------------------------------------------------

# Data Sorting

### Step 1 - sort the data chronologically

In [56]:
df2.sort_values(
    by = ['action_date'],
    ascending= True
)

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
82709,1062027,320893,2018-02-01 00:00:00,5881807,PageView,5.0,M,2009-05-07,7,1.0,Konka,2904,Washing Machine,2016-12-05,825,4463,153009,2013-06-08,Household Eletric Appliance,9.185059
117018,150312,138491,2018-02-01 00:01:00,6982364,PageView,6.0,M,2016-04-10,5,5.0,H&M,1716,Coat,2015-10-15,2943,810326,338766,2015-03-24,Clothes,9.580392
106117,532476,258623,2018-02-01 00:01:00,5161191,PageView,6.0,M,2011-04-02,7,5.0,Opple,3681,Light,2016-10-20,8193,5052,19700,2016-09-13,Furniture,9.763469
159228,1158039,17591,2018-02-01 00:02:00,7447336,PageView,5.0,M,2014-09-14,7,4.0,Jeans West,8364,Jeans,2017-11-30,8801,223669,160228,2013-09-03,Clothes,9.401768
92415,745464,263616,2018-02-01 00:03:00,10439703,Follow,6.0,M,2016-10-24,7,5.0,Other,9967,Sunscreen Cream,2017-10-27,5087,29955,17578,2017-10-27,Beauty Makeup,9.739071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179782,495097,185954,2018-04-15 23:54:00,2130257,PageView,5.0,M,2014-01-19,7,5.0,Quanyou,6578,Bed,2017-06-09,6944,311415,15055,2015-05-22,Furniture,9.170224
109982,377086,236567,2018-04-15 23:57:00,4863085,PageView,5.0,M,2011-08-03,5,1.0,Opple,6997,Light,2016-09-30,5678,6818,23906,2016-08-27,Furniture,9.611469
165394,1475265,268567,2018-04-15 23:57:00,4650987,PageView,5.0,M,2017-06-24,1,3.0,Joyoung,1259,Rice Cooker,2015-06-09,4853,25083,19531,2015-04-21,Household Eletric Appliance,9.237153
11,25559,84152,2018-04-15 23:57:00,10182503,PageView,5.0,W,2015-10-05,1,2.0,Proya,5708,Foundation Make-up,2017-03-24,330,147229,787130,2013-11-22,Beauty Makeup,9.694876
2482,139171,110400,2018-04-15 23:58:00,2055481,PageView,5.0,M,2017-05-07,1,1.0,Other,2776,Cookie,2016-11-03,7719,21464,23722,2016-06-25,Food,9.477105

### Step 2 - Save the edited files

after completion, we can safely save the already cleaned file

In [57]:
file_name = '京东消费者分析数据(干净了).xlsx'

In [58]:
df2.to_excel(file_name)

## Test file

In [9]:
df3 = pd.read_excel('13_电商行业_京东消费者数据分析/京东消费者分析数据 - Copy.xlsx')
df3

,customer_id,product_id,action_date,action_id,type,age_range,gender,customer_register_date,customer_level,city_level,brand,shop_id,category,product_market_date,vender_id,fans_number,vip_number,shop_register_date,shop_category,shop_score
0,489464,210529,2018-02-11 16:10:00,6196245,PageView,NaN,U,2016-06-29,7,NaN,Apple,4178,Phone,2016-09-27,3666,0,0,NaT,Electronics,0.000000
1,395399,141632,2018-03-20 10:55:00,5472028,PageView,4.0,M,2018-01-21,6,5.0,illuma,4203,Milk Power,2015-06-12,3563,2411,65893,2013-08-08,Mother and Infant,9.537151
2,1068082,5924,2018-04-01 13:56:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2013-06-14,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
3,1068082,10723,2018-04-01 13:45:00,3853455,PageView,6.0,W,2012-08-13,1,4.0,Li-Ning,8002,Badminton,2011-07-19,1457,213610,357580,2013-05-23,Outdoor Sports,9.571139
4,735392,4559,2018-02-06 20:25:00,9434940,PageView,6.0,M,2009-09-15,7,5.0,Other,6944,Cookie,2015-11-16,355,63969,85597,2014-10-31,Food,9.665680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183823,1548316,336363,2018-03-06 03:47:00,240062,PageView,5.0,M,2016-12-24,1,1.0,Proya,3950,Foundation Make-up,2017-02-15,6405,152180,245328,2016-08-04,Beauty Makeup,9.545597
183824,1377001,159431,2018-03-14 21:16:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Playboy,2451,Coat,2017-11-07,1018,104791,123240,2015-05-08,Clothes,9.531975
183825,1377001,199816,2018-03-14 21:17:00,10747232,PageView,6.0,M,2015-05-23,7,4.0,Huawei,5332,Phone,2017-08-11,3666,0,0,NaT,Electronics,0.000000
183826,1057196,286812,2018-04-07 11:54:00,5702636,PageView,6.0,W,2017-10-12,6,4.0,Other,8451,Phone,2013-03-19,3666,0,0,NaT,Electronics,0.000000
183827,67145,372173,2018-03-25 06:21:00,164637,PageView,2.0,W,2012-11-06,7,3.0,Apple,3527,Phone,2017-09-20,3666,0,0,NaT,Electronics,0.000000

In [75]:
df3['age_range'] = df3['age_range'].fillna(0)
df3

        customer_id  product_id  ...      shop_category  shop_score
0            489464      210529  ...        Electronics    0.000000
1            395399      141632  ...  Mother and Infant    9.537151
2           1068082        5924  ...     Outdoor Sports    9.571139
3           1068082       10723  ...     Outdoor Sports    9.571139
4            735392        4559  ...               Food    9.665680
...             ...         ...  ...                ...         ...
183823      1548316      336363  ...      Beauty Makeup    9.545597
183824      1377001      159431  ...            Clothes    9.531975
183825      1377001      199816  ...        Electronics    0.000000
183826      1057196      286812  ...        Electronics    0.000000
183827        67145      372173  ...        Electronics    0.000000

[183828 rows x 20 columns]

In [61]:
df3['city_level'] = df3['city_level'].fillna(0)

In [93]:
cont_1 = df3[df3['gender']=='U']
cont_1

Empty DataFrame
Columns: [customer_id, product_id, action_date, action_id, type, age_range, gender, customer_register_date, customer_level, city_level, brand, shop_id, category, product_market_date, vender_id, fans_number, vip_number, shop_register_date, shop_category, shop_score]
Index: []

In [83]:
df3.drop(cont_1, inplace= True)

In [95]:
(df3['gender']=='U').value_counts()

False    183355
Name: gender, dtype: int64